 <!--<div class="container">
    <div class="row">
        <h1>Hola</h1>
        <p>Grupo {{grupo}}</p>
        <div>El doble de es {{duplicarN(5)}}</div>
        <hr>

        <div>
            <b>Matrciula: </b> {{alumnos.matricula | uppercase}}
        </div>
        <div>
            <b>Nombre: </b>{{alumnos.nombre | lowercase}}
        </div>
        <div>
            <b>Fecha Nacimiento: </b> {{alumnos.fechaNacimiento | date:'dd/MM/yyyy'}}
        </div>
        <div>
            <b>Pago: </b>{{alumnos.pago | currency:'MXN':true:'1.2-2'}}
        </div>
    </div>
</div>

<hr>
<app-grupo></app-grupo>
<hr>
<app-ievn></app-ievn>
<hr>
<app-ievn2></app-ievn2> -->

<app-suma></app-suma>
<hr>
<app-operas-bas></app-operas-bas>