
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">IDGS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">
                    <i class="fa fa-sharp fa-regular fa-user-secret fa-lg"></i>
                    Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="IEVN">IEVN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Formulario">FORMULARIO</a>
            </li>
        </ul>
    </div>

</nav>
</div>