<div class="container">


    <div class="row">
        <div class="col-6">
            <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()" >
                <div class="mb-4">
                    <label for="matricula" class="form-label">Matricula</label>
                    <input type="number" class="form-control" formControlName="matricula" required id="matricula" name="matricula">
                    <div *ngIf="alumnoForm.get('matricula')?.errors?.['required'] && alumnoForm.get('matricula')?.touched" class="alert alert-danger">
                        La matricula es requerida
                    </div>
                </div>
                <div class="mb-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" id="nombre" required name="nombre">
                    <div *ngIf="alumnoForm.get('nombre')?.errors?.['required'] && alumnoForm.get('nombre')?.touched" class="alert alert-danger">
                        El campo es requerido
                    </div>
                    <div *ngIf="alumnoForm.get('nombre')?.errors?.['minlength']" class="alert alert-danger">
                        El campo debe tener al menos {{alumnoForm.get('nombre')?.errors?.['minlength']?.requiredLength}} caracteres
                    </div>
                </div>
                <div class="mb-4">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" formControlName="edad" id="edad" name="edadcorreo">
                </div>
                <div class="mb-4">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="text" class="form-control" formControlName="correo" id="correo" name="correo">
                </div>
                <div class="mb-4">
                    <label for="pago" class="form-label">Pago</label>
                    <input type="text" class="form-control" formControlName="pago" id="pago" name="pago">
                </div>
                <div class="mb-4">
                    <label for="foto" class="form-label">foto</label>
                    <input type="text" class="form-control" id="foto" formControlName="foto" name="foto">
                </div>
                <div class="mb-4">
                    <label for="calif" class="form-label">Calificacion</label>
                    <input type="text" class="form-control" formControlName="calif" id="calif" name="calif">
                </div>
                <div class="d-grid gap-2 col-4 float-end">
                    <button class="btn btn-info btn-lg" type="submit">Guardar</button>
                </div>


            </form>


        </div>
        <div class="col-6">
            <table class="table table-responsive" >
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Pago</th>
                        <th>Correo</th>
                        <th>Foto</th>
                        <th>Calificacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{alumnoForm.get('matricula')?.value}}</td>
                        <td>{{alumnoForm.get('nombre')?.value}}</td>
                        <td>{{alumnoForm.get('edad')?.value}}</td>
                        <td>{{alumnoForm.get('pago')?.value}}</td>
                        <td>{{alumnoForm.get('correo')?.value}}</td>
                        <td>{{alumnoForm.get('foto')?.value}}</td>
                        <td>{{alumnoForm.get('calif')?.value}}</td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>

</div>